* {
    box-sizing: border-box;
}

body {
    font-family: "Crimson Text", serif;
    font-weight: lighter;
    font-style: normal;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
/*  padding: 300px;*/
    width: 800px;
    color: Black;
    background-color: #D6DAE6;
  }
h2 {
    font-family: 'Crimson Text'; serif;
    font-style: italic;
    font-weight: 500;
  }
p   {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;;
    font-style: ;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    font-size: 1.2em;
    font-weight: 400;
}
figcaption {
  color: #3D3E3F;
  font-size: 0.9em;
}
iframe {
    width: 50%;
    height: 47px;
    border: 100;s
    box-shadow: none: !important;
    color: black;
    margin: 20px;
    display: block;
}
container {
    width: 800px;
    height: 120px;
}
.iframe-container {
  margin: 20px 0;
  text-align: center;
  margin-left: 30px;
    width: 90%;
    height: auto;
}
